body {
    background: linear-gradient(to right, #30394A, #849EB5);
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic-webfont.eot');
    src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto-ThinItalic-webfont.woff') format('woff'), url('Roboto-ThinItalic-webfont.ttf') format('truetype'), url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

.options {
    display: flex;
    justify-content: center;
    padding: 7px;
}

.button {
    appearance: none;
    backface-visibility: hidden;
    background-color: #538CC6;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(61, 61, 61, 0.15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    outline: none;
    overflow: hidden;
    padding-top: 3px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.button:hover {
    background-color: #294663;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.button:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.button:hover {
    box-shadow: rgba(173, 211, 255, 0.2) 0 6px 12px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:hover {
    box-shadow: rgba(173, 211, 255, 0.2) 0 6px 12px;
}

input:checked+.slider {
    background-color: #538CC6;
}

input:focus+.slider {
    box-shadow: rgba(173, 211, 255, 0.2) 0 6px 12px;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}