body {
    background: linear-gradient(to right, #30394A, #849EB5);
}

.options {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.button {
    appearance: none;
    backface-visibility: hidden;
    background-color: #538CC6;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(61, 61, 61, 0.15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    outline: none;
    overflow: hidden;
    padding: 10px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.button:hover {
    background-color: #294663;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.button:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.button:hover {
    box-shadow: rgba(173, 211, 255, 0.2) 0 6px 12px;
}